<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Stats" tabIcon="analytics"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Hint" tabIcon="ios-bulb-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Ask" tabIcon="heart"></ion-tab>
</ion-tabs>
