page-chat {
    background: #36393d;
}

.question {
    background: #2287d9;
    padding: 20px;
    font-weight: 400;
    margin: -16px !important;
    line-height: 48px;
}

.contacts {
    margin: 20px 0;
}

.contacts ion-row{
    margin: 10px 0px;
}

ion-thumbnail img {
    border-radius: 50%;
    width: 50px;
    margin: auto;
}

.contacts span {
    line-height: 20px;
}

.chat-text {
    height: 60px;
    border-radius: 15px;
    background: #a7d3ff;
    padding: 10px 15px;
    font-size: 13px;
}

.chat-text p{
    margin: 0px;
}

.chat-input {
    background: #ffffff;
    height: 70px;
    margin: -16px !important;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.chat-input ion-input{
    background: #e8e8e8;
    color: #000000;
    border-radius: 5px;
    width: 80%;
    float: left;
}

.chat-input button {
    margin-left: 10px;
    background: #485b87;
}

.chat-input ion-icon {
    font-size: 30px;
    font-weight: bold;
}