<ion-content padding>
    <h2 class="question" text-center>
        How do I stack a dishwasher?
    </h2>

    <ion-grid class="contacts">
        <ion-row>
          <ion-col col-2 text-center>
                <span>Mum</span>
                <div class="thumbnail">
                    <ion-thumbnail>
                        <img src="assets/img/thumbnail.png">
                    </ion-thumbnail>
                </div>
          </ion-col>

          <ion-col col-9>
            <div class="chat-text">
                <p>Make sure everything is evenly spaced if water cant get in it wont clean</p>
            </div>
          </ion-col>          
        </ion-row>

        <ion-row>
            <ion-col col-1>

            </ion-col>
            <ion-col col-9>
                <div class="chat-text">
                    <p>And have everything upsidedown otherwise it fills with dirty water.</p>
                </div>
            </ion-col>
            <ion-col col-2 text-center>
                <span>Dad</span>
                <div class="thumbnail">
                    <ion-thumbnail>
                        <img src="assets/img/thumbnail.png">
                    </ion-thumbnail>
                </div>
              </ion-col>        
        </ion-row>

        <ion-row>
                <ion-col col-2 text-center>
                      <span>Mum</span>
                      <div class="thumbnail">
                          <ion-thumbnail>
                              <img src="assets/img/thumbnail.png">
                          </ion-thumbnail>
                      </div>
                </ion-col>
      
                <ion-col col-9>
                  <div class="chat-text">
                      <p>Oh, and make sure you put the cutlery the right way (eating the side up)!</p>
                  </div>
                </ion-col>          
              </ion-row>
      
              <ion-row>
                  <ion-col col-1>
      
                  </ion-col>
                  <ion-col col-9>
                      <div class="chat-text">
                          <p>Yeah, otherwise the food runs down it and sometimes doesnt clean it properly.</p>
                      </div>
                  </ion-col>
                  <ion-col col-2 text-center>
                      <span>Dad</span>
                      <div class="thumbnail">
                          <ion-thumbnail>
                              <img src="assets/img/thumbnail.png">
                          </ion-thumbnail>
                      </div>
                    </ion-col>        
              </ion-row>
      </ion-grid>

      <div class="chat-input">
          <ion-input></ion-input>
          <button ion-button>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
      </div>

</ion-content>
