<ion-content padding>
    <h2 class="new-message" text-center>
        + New Message
    </h2>

    <ion-grid class="contacts">
        <ion-row>
          <ion-col text-center (click)="openChat();">
                <div class="thumbnail">
                    <ion-thumbnail>
                        <img src="assets/img/thumbnail.png">
                    </ion-thumbnail>
                </div>
                <span>Mum </span>
          </ion-col>

          <ion-col text-center>
                <div class="thumbnail">
                    <ion-thumbnail>
                        <img src="assets/img/thumbnail.png">
                    </ion-thumbnail>
                </div>
                <span>Dad </span>
          </ion-col>

          <ion-col text-center>
                <div class="thumbnail">
                    <ion-thumbnail>
                        <img src="assets/img/thumbnail.png">
                    </ion-thumbnail>
                </div>
                <span>Sam </span>
          </ion-col>
          
        </ion-row>
      </ion-grid>

</ion-content>
