page-ask {
    background: #2287d9;
}

.new-message {
    background: #ffd500;
    padding: 10px;
    font-weight: 400;
    margin: -16px !important;
    line-height: 48px;
}

.contacts {
    margin: 20px 0;
}

ion-thumbnail img {
    border-radius: 50%;
    width: 50px;
    margin: auto;
}

.contacts span {
    line-height: 40px;
}