<ion-content padding>
    <ion-grid class="activity-icons">
        <ion-row>
          <ion-col text-center class="wellbeing">
              <ion-icon name="body"></ion-icon>
              <div class="current" [ngStyle]="getOverlayStyle()">{{ wellbeing }}</div>
              <round-progress 
                [current]="wellbeing" 
                [max]="max" 
                [radius]="radius"
                [stroke]="5"
                [color]="'#488aff'"
                [rounded]="true"></round-progress>
              <p>400/100exp</p>
              <p>till level up</p>
          </ion-col>
          <ion-col text-center class="budget">
              <ion-icon name="calendar"></ion-icon>
              <div class="current" [ngStyle]="getOverlayStyle()">{{ budget }}</div>
              <round-progress 
              [current]="budget" 
              [max]="max" 
              [radius]="radius"
              [stroke]="5"
              [color]="'#32db64'"
              [rounded]="true"></round-progress>
              <p>400/100exp</p>
              <p>till level up</p>
          </ion-col>
          <ion-col text-center class="time-mgt">
              <ion-icon name="ios-clock-outline"></ion-icon>
              <div class="current" [ngStyle]="getOverlayStyle()">{{ time_mgt }}</div>
              <round-progress 
              [current]="time_mgt" 
              [max]="max" 
              [radius]="radius"
              [stroke]="5"
              [color]="'#f53d3d'"
              [rounded]="true"></round-progress>
              <p>400/100exp</p>
              <p>till level up</p>
          </ion-col>
        </ion-row>
      </ion-grid>


    
    <div text-center class="kiro">
        <img src="assets/img/kiro.png">
        <h6>Kiro</h6>
        <span>Stay at Home</span>

        <div class="add" (click)="openNewTaskPage();">
            <ion-icon name="add"></ion-icon>
        </div>
    </div>
</ion-content>
