page-home {

}

.content-md {
    color: #fff;
    background-color: #36393d;
}

.activity-icons ion-icon{
    font-size: 36px !important;
    color: #bacfde;
}

.activity-icons p{
    font-size: 12px;
    margin: 2px;
}

round-progress {
    margin: 4px auto;
}

.progress-wrapper .current {
    color: #fff !important;
}

.current {
    position: absolute;
    font-size: 22px !important;
    line-height: 1;
}

.wellbeing .current {
    color: #488aff !important;
}

.budget .current {
    color: #32db64;
}

.time-mgt .current {
    color: #cf2d63;
}

.kiro img{
    width: 50%;
    margin: 10px auto;
    display: block;
}

.kiro h6{
    color: #d48e13;
    margin: 2px;
}

.add {
    background: #ffd500;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 48px;
    height: 64px;
    width: 64px;
    border-radius: 90% 0 0 0;
}

.add ion-icon{
    margin: 10px 0 5px 15px;
}