page-task {

}

.activity-buttons button{
    width: 72px;
    height: 72px;
    font-size: 36px;
    border-radius: 10px;
}

.wellbeing button {
    background: #488aff !important;
}

.budget button {
    background: #32db64;
}

.time-mgt button {
    background: #cf2d63;
}

.description{
    padding: 20px;
}

ion-item{
    background: transparent !important;
}

ion-textarea{
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
}