<ion-content padding>
    <h5 ion-text text-center padding>New Task</h5>
    <ion-grid class="activity-buttons">
        <ion-row>
            <ion-col text-center class="wellbeing">
                <button ion-button>
                    <ion-icon name="body"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-center class="budget">
                <button ion-button>
                    <ion-icon name="calendar"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-center class="time-mgt">
                <button ion-button>
                    <ion-icon name="ios-clock-outline"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="description">
        <ion-textarea rows="15" placeholder="Text textarea"></ion-textarea>

        <div class="add" (click)="addTaskPage();">
            <ion-icon name="arrow-forward"></ion-icon>
        </div>
    </div>
    
</ion-content>
