page-hint {
    background: #2287d9;
}

page-hint .content-md {
    color: #fff;
    background-color: #2287d9;
}

.hint-block {
    margin: 100px 30px 20px;
}

.hint-block ion-icon {
    font-size: 90px;
    text-align: center;
    margin: auto;
    width: 90px;
    display: block;
}

.hint-block .hint {
    margin: 40px auto;
    font-weight: 400;
}

.hint-block .thumbnail {
    margin: 160px auto 40px;
    width: 190px;
    display: block;
}

.hint-block ion-thumbnail {
    float: left;
    margin-right: 20px;
}

.hint-block ion-thumbnail img {
    border-radius: 50%;
}

.hint-block .from {
    float: left;
    font-weight: 400;
}