<ion-content padding>
    <div class="hint-block">
        <ion-icon name="ios-bulb-outline"></ion-icon>
        <h3 class="hint" ion-text text-center color="light">
            Separate lights and darks when washing to retain colour purity
        </h3>

        <div class="thumbnail">
            <ion-thumbnail>
                <img src="assets/img/thumbnail.png">
            </ion-thumbnail>
            <h4 class="from" item-right>From Friend</h4>
        </div>
    </div>
</ion-content>
